<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <!-- FontAwesomeの読み込み -->
    <script src="https://kit.fontawesome.com/a089111b95.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 mt-0 mb-3">
        <div class="container">
          <span><a href="/">Bookers</a></span>
          <!-- ハンバーガーメニュー -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <%= link_to user_path(current_user) do %>
            <li class="nav-item">
              <i class="fas fa-home" style="color:white"></i>Home
            </li>
          <% end %>
          <%= link_to users_path do %>
            <li class="nav-item">
              <i class="fas fa-users" style="color:white"></i>Users
            </li>
          <% end %>

          <%= link_to books_path do %>
            <li class="nav-item">
              <i class="fas fa-book-open" style="color:white"></i>Books
            </li>
          <% end %>

          <%= link_to destroy_user_session_path, method: :delete do %>
            <li class="nav-item">
              <i class="fas fa-sign-out-alt" style="color:white"></i>Log out
            </li>
          <% end %>

          <% else %>
          <%= link_to root_path do %>
            <li class="nav-item">
              <i class="fas fa-home" style="color:white"></i>Home
            </li>
          <% end %>

          <%= link_to home_about_path do %>
            <li class="nav-item">
              <i class="fas fa-link" style="color:white"></i>About
            </li>
          <% end %>

          <%= link_to new_user_registration_path do %>
            <li class="nav-item">
              <i class="fas fa-user-plus" style="color:white"></i>Sign up
            </li>
          <% end %>

          <%= link_to new_user_session_path do %>
            <li class="nav-item">
              <i class="fas fa-sign-in-alt" style="color:white"></i>Log in
            </li>
          <% end %>
          <% end %>
        </ul>
        </div>

      </nav>
        </div>
    </header>

   <main>

    <%= notice %>


     <%= yield %>
  </main>


    <footer>CopyRight Infratop.inc</footer>
  </body>
</html>
